.topBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    background-color: var(--bg-light);
    border: 0;
    border-bottom: 2px;
    border-style: solid;
    border-image: var(--highlight-gradient) 1;
    user-select: none;
    height: 2.5rem;
}

.topBar .clock {
    margin-right: 10px;
}